table {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  border-collapse: collapse;
  border: 1px solid;
}
td {
   border: 1px solid grey;
}
.translate {
 font-size: 1.3rem;
 margin-bottom: 1rem;
}
label,
input,
textarea,
select,
button {
  font-size: 1.3rem;
  line-height: 1.2
}
form {
  width: 30em;
  max-width: 90%;
}

form div {
  margin-top: 1rem;
}

label {
  margin-bottom: 0.4rem;
  display: block;
}

input,
textarea {
  padding: 0.4rem;
  width: 100%;
  border: 1px solid;
}

button {
  margin-top: 1rem;
  background: #3740ff;
  color: #fff;
  border: none;
  padding: 0.6rem;
}

button:hover,
button:focus {
  background: #272eb5
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}