<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Словарь 2.0</title>
     <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<ul>
  <li><a href="http://127.0.0.1:8000/words">Учить слова</a></li>
  <li><a href="http://127.0.0.1:8000/phrases">Учить фразы</a></li>
  <li><a href="http://127.0.0.1:8000/words/random">Тест на знание слов</a></li>
  <li><a href="http://127.0.0.1:8000/phrases/random">Тест на знание фраз</a></li>
  <li><a href="http://127.0.0.1:8000/words/add">Добавить слово</a></li>
  <li><a href="http://127.0.0.1:8000/phrases/add">Добавить фразу</a></li>
</ul>
{% block content%} {% endblock content %}

</body>
</html>