<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Слова</h1>
<ul >
    {% for i in eng_words["List"] %}
    <li>{{ i["eng_word"] }}
    <ul>
        {% for j in i["ruwords"]%}
        <li>{{ j["ru_word"] }}</li>
        {% endfor %}
    </ul></li>
    {% endfor %}
</ul>
<button>Кнопка</button>
</body>
</html>